/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background-color: #edeeef;
    /* height: 100vh;
     width: 100vw;*/
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header {
  width: 100%;
  /*height: 5vh;*/
  background-color: #033048;
  display: flex;
  justify-content: space-between;
  padding: 2% 0;

}

section {
  width: 60%;
  /*height: 75%;*/
  /*background-color: lightgrey;*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: justify;
  font-size: 24px;
  font-weight: 300;
  margin-top: 2%;
  margin-left: 5%;

  /*float: left;*/
}

aside {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-img {
  width: 100%;
  margin: 5% 0;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 4%;
  color: #606161;
}

.foot-one {
  width: 100%;
  height: 25%;
  background-color: #f9e42e;
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-two {
  width: 100%;
  padding: 5% 0;
  background-color: #121212;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 34px;
}

.top {
  color: white;
  margin-left: 5%;
}

.nav, .post-title, .read, .learn-more {
  font-weight: 600;
}

.nav{
  width: 40%;
  display: flex;
  align-self: center;
  margin-right: 5%;
  font-size: 24px;
  color: #f9e42e;
  justify-content: space-between;
}

.list-item-one{
  flex-direction: row;
  margin-right: 2%;

}

.line {
  border-top: solid;
  border-color: black;
  border-width: 1px;
  width: 100%;
  margin: 5% 0;
}

.first-letter:first-letter { 
  font-size: 300%;
  float: left;
  font-weight: 600;
  margin-right: 1%;
  color: #033048;
    
}

.post-title {
  align-self: flex-start;
  font-size: 40px;
  color: #033048;
}

.read {
  font-size: 24px;
  margin-top: 5%;
  color: #033048;
}

.side-header {
  font-size: 32px;
  font-weight: 800;
  color: #033048;
}

.list-item-two {
  font-size: 24px;
  font-weight: 300;
}

.side-text {
  font-size: 22px;
  font-weight: 300;
}

.side-top-margin {
  margin-top: 5%;
}

.side-img {
  margin-top: 20%;
}

.learn-more {
  font-size: 22px;
  color: #033048;
}

.sign-up {
  background-color: #033048;
  color: lightgrey;
  font-size: 15px;
  font-weight: 800;
  border-radius: 5px;
  padding: 10px 50px;
}

footer a span:hover {
  background-color: lightgrey;
  color: #033048;
  border-radius: 5px;
  border-color: #033048;
  border: 0.5px solid black;
}

.bottom {
  color: #f9e42e;
  margin-bottom: 5%;
}

.copy {
  color: white;
  margin-top: 5%;
}

.social {
  display: flex;
  flex-direction: row;
}

.twit {
  margin-right: 30%;
  margin-left: -30%;
}

.face {
  margin-left: 20%;
}

a {
  text-decoration: none;
}

header ul a {
  color: #f9e42e;
}

aside ul a {
  color: #606161;
}

header ul a:hover { 
  color: white;
}

aside ul a:hover {
  color: #033048;
  text-decoration: underline;
} 

.more {
  color: #033048;
}

aside h3 a:hover {
  text-decoration: underline;
}

section a:hover {
  text-decoration: underline;
}






